CONFIG_CORE_CORTEX_M4=y
CONFIG_PLATFORM_LPC_CAN_PM=y
CONFIG_PLATFORM_LPC_CAN_WATERMARK=y
CONFIG_PLATFORM_LPC_GPTIMER_PM=y
CONFIG_PLATFORM_LPC_I2C_PM=y
CONFIG_PLATFORM_LPC_I2S_256FS=y
CONFIG_PLATFORM_LPC_SDMMC_PM=y
CONFIG_PLATFORM_LPC_SCT_PM=y
CONFIG_PLATFORM_LPC_SSP_PM=y
CONFIG_PLATFORM_LPC_UART_PM=y
CONFIG_PLATFORM_LPC_UART_WATERMARK=y
CONFIG_PLATFORM_USB_DEVICE_POOL_SIZE=32
CONFIG_USB_DEVICE_HS=y
CONFIG_USB_DEVICE_COMPOSITE=y
CONFIG_USB_DEVICE_CDC_WATERMARK=y
CONFIG_USB_DEVICE_CONTROL_REQUESTS=4
