CONFIG_CORE_CORTEX_M3=y
CONFIG_FAMILY_LPC17XX=y
CONFIG_PLATFORM_LPC_PM_PD=y
CONFIG_PLATFORM_LPC_CAN_PM=y
CONFIG_PLATFORM_LPC_CAN_WATERMARK=y
CONFIG_PLATFORM_LPC_GPTIMER_PM=y
CONFIG_PLATFORM_LPC_GPPWM_PM=y
CONFIG_PLATFORM_LPC_I2C_PM=y
CONFIG_PLATFORM_LPC_I2S_256FS=y
CONFIG_PLATFORM_LPC_SSP_PM=y
CONFIG_PLATFORM_LPC_SPI_DMA_CHAIN=9
CONFIG_PLATFORM_LPC_UART_PM=y
CONFIG_PLATFORM_LPC_UART_WATERMARK=y
CONFIG_PLATFORM_USB_DEVICE_EP_REQUESTS=20
CONFIG_PLATFORM_USB_DEVICE_POOL_SIZE=40
CONFIG_USB_DEVICE_CDC_ACM_WATERMARK=y
