CONFIG_CORE_CORTEX_M3=y
CONFIG_FAMILY_LPC17XX=y
# CONFIG_GENERIC_BUFFERING_PROXY is not set
# CONFIG_GENERIC_GPIO_BUS is not set
# CONFIG_GENERIC_RAM_PROXY is not set
# CONFIG_GENERIC_SOFTWARE_TIMER_32 is not set
# CONFIG_GENERIC_SOFTWARE_TIMER_64 is not set
# CONFIG_GENERIC_TIMER_FACTORY is not set
# CONFIG_GENERIC_WQ_UNIQUE is not set
# CONFIG_PM is not set
# CONFIG_PLATFORM_LPC_ADC_BASE is not set
# CONFIG_PLATFORM_LPC_BOD is not set
# CONFIG_PLATFORM_LPC_CAN is not set
# CONFIG_PLATFORM_LPC_DAC_BASE is not set
# CONFIG_PLATFORM_LPC_FAST_GPIO_BUS is not set
# CONFIG_PLATFORM_LPC_FLASH is not set
# CONFIG_PLATFORM_LPC_GPTIMER_CAPTURE is not set
# CONFIG_PLATFORM_LPC_GPTIMER_COUNTER is not set
# CONFIG_PLATFORM_LPC_GPPWM is not set
# CONFIG_PLATFORM_LPC_I2C_BASE is not set
# CONFIG_PLATFORM_LPC_I2S_BASE is not set
# CONFIG_PLATFORM_LPC_IAP is not set
# CONFIG_PLATFORM_LPC_PININT is not set
# CONFIG_PLATFORM_LPC_RIT is not set
# CONFIG_PLATFORM_LPC_RTC is not set
# CONFIG_PLATFORM_LPC_ONE_WIRE_SSP is not set
# CONFIG_PLATFORM_LPC_UART_RC is not set
# CONFIG_PLATFORM_LPC_SERIAL_POLL is not set
# CONFIG_PLATFORM_LPC_SERIAL_DMA is not set
# CONFIG_PLATFORM_LPC_ONE_WIRE_UART is not set
CONFIG_PLATFORM_USB_DEVICE_EP_REQUESTS=20
CONFIG_PLATFORM_USB_DEVICE_POOL_SIZE=40
# CONFIG_PLATFORM_LPC_WDT is not set
CONFIG_USB_DEVICE_CDC_WATERMARK=y
CONFIG_USB_TRACE=y
