CONFIG_CORE_CORTEX_M0=y
CONFIG_FAMILY_M03X=y
CONFIG_PLATFORM_NUMICRO_BPWM_PM=y
CONFIG_PLATFORM_NUMICRO_GPTIMER_PM=y
CONFIG_PLATFORM_NUMICRO_I2C_PM=y
CONFIG_PLATFORM_NUMICRO_PDMA_COUNT=5
CONFIG_PLATFORM_NUMICRO_UART_PM=y
CONFIG_PLATFORM_NUMICRO_UART_WATERMARK=y
CONFIG_PLATFORM_NUMICRO_SPI_PM=y
# CONFIG_PLATFORM_NUMICRO_QSPI_BASE is not set
# CONFIG_PLATFORM_NUMICRO_UART3 is not set
# CONFIG_PLATFORM_NUMICRO_UART4 is not set
# CONFIG_PLATFORM_NUMICRO_UART5 is not set
# CONFIG_PLATFORM_NUMICRO_UART6 is not set
# CONFIG_PLATFORM_NUMICRO_UART7 is not set
CONFIG_USB_DEVICE_CDC_ACM_WATERMARK=y
