CONFIG_CORE_CORTEX_M3=y
CONFIG_FAMILY_STM32F1XX=y
CONFIG_PLATFORM_USB_DEVICE_EP_REQUESTS=20
CONFIG_PLATFORM_STM32_CAN_PM=y
CONFIG_PLATFORM_STM32_CAN_WATERMARK=y
CONFIG_PLATFORM_STM32_GPTIMER_PM=y
CONFIG_PLATFORM_STM32_I2C_PM=y
CONFIG_PLATFORM_STM32_SDIO_PM=y
CONFIG_PLATFORM_STM32_UART_PM=y
CONFIG_PLATFORM_STM32_UART_WATERMARK=y
CONFIG_USB_DEVICE_CDC_WATERMARK=y
